*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game{
  background-color: #DDD;
  height: 100vh;
  aspect-ratio: 1.2;
  position: relative;
}

.egg{
  height: 5vh;
  position: absolute;
  top: 100px;
  left: 200px;
}
